@import "colors";
@import "fonts";

.aboutEm {
    background-image: url('/Public/Assets/Images/aboutEm/background2.svg');
    background-position: 0px -450px;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;

    .section {
        .container {
            .hero-section {
                color: $grey700;
                padding: 120px 0 0px 0;

                .heroText {
                    margin-bottom: 16px;
                    &__blue {
                        background: $purpleSky2;
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                        background-clip: text;
                        text-fill-color: transparent;
                    }

                    &__sunny {
                        background: $sunny;
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                        background-clip: text;
                        text-fill-color: transparent;
                    }

                    &__greenish {
                        background: $greenish;
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                        background-clip: text;
                        text-fill-color: transparent;
                    }

                    &__redSun {
                        background: $redSun;
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                        background-clip: text;
                        text-fill-color: transparent;
                    }
                }
            }

            .Two-Column {
                padding: 64px 0;
                display: flex;
                flex-direction: row;

                .Text {
                    align-items: flex-start;
                    width: 50%;
                    color: $grey700;
                }

                .Image {
                    width: 50%;
                    display: flex;
                    align-content: center;
                    position: relative;
                    
                    &__me {
                        margin: auto;
                        width: 320px;
                        height: auto;
                    }

                    &__pin {
                        position: absolute;
                        width: 64px;
                        right: 120px;
                        top: -20px
                    }
                }
            }
        }
    }
}