$backgroundColor: #F8F8F8;
$white: #ffff;

//grey
$grey900: #0F172A;
$grey800: #1E293B;
$grey700: #334155;
$grey400: #94A3B8;
$grey300: #CBD5E1;
$grey200: #E2E8F0;

//blue
$blue500: #3B82F6;

//gradient
$fire: linear-gradient(117.44deg, #FF5F6D 21.69%, #FFC371 65.26%);
$deepblue: linear-gradient(117.44deg, #4A00E7 21.69%, #3B82F6 65.26%);
$gradientBlue: linear-gradient(224.86deg, #D5DAF0 4.87%, #296EDF 98.81%);
$greenish: linear-gradient(82.84deg, #4ACF8C 0%, #75EDA6 100%);
$purpleSky2: linear-gradient(51.06deg, #9358F7 0.87%, #7B78F2 25.96%, #6197EE 49.23%, #45B5E9 74.93%, #10D7E2 97.48%);
$sunny: linear-gradient(113.92deg, #FEDA56 -15.83%, #FDAD40 55.5%);
$redSun: linear-gradient(45.4deg, #F4426C 8.41%, #FBF2B1 98.99%);
