$backgroundColor: #F8F8F8;

//grey
$grey900: #0F172A;
$grey700: #334155;
$grey200: #E2E8F0;

//gradient
$fire: linear-gradient(117.44deg, #FF5F6D 21.69%, #FFC371 65.26%);
$deepblue: linear-gradient(117.44deg, #4A00E7 21.69%, #3B82F6 65.26%);
