//import GG font
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');
@import "colors";

html {
    font-size: 100%;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    background-color: $backgroundColor;
}

.wrapper {
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;

    &--aboutEm {
        background-image: url('/public/Assets/Images/aboutEm/background2.svg');
        background-position: 0px -450px;
    }

    &--projects {
        background-image: url('/public/Assets/Images/projects/background1.svg');
        background-position: 400px -350px ;
        height: 100vh;
    }

    &--contact {
        background-image: url('/public/Assets/Images/contact/background.svg');
        background-position: 0px 20px;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

.section {
    width: 100%;
}

.container {
    max-width: 1200px;
    margin: auto;
}

.button {
    margin: 0 12px;
    padding: 0;
    transition: 300ms;
    border-bottom: 1px solid #000;

    &--secondary {
        padding: 8px 16px;
        border-radius: 2px;
        color: #fff !important;
        background-color: $grey900;


        &:hover {
            opacity: 0.8;
            transition: 0.3s;
        }
    }

}

.button:hover {
    cursor: pointer;
    border-color: transparent;
}

  
