.header {
  nav {
    z-index: 1;
    font-size: $font-med;
    overflow: hidden;
    background-color: #333;
    width: 100%;
    position: fixed;
    top: 0;
    margin: 24px;
  }
  &__logo {
    cursor: pointer;
    font-weight: bold;
  }

  a,
  a:visited,
  a:hover {
    color: $c-white;
    text-decoration: none;
    decoration: none;
  }

  &__menu {
    // Mobile Menu
    > span {
      display: block;
      width: 26px;
      height: 2px;
      background-color: black;

      &:not(:last-child) {
        margin-top: 2px;
        margin-bottom: 3px;
      }
    }
  }

  &__links {
    a {
      cursor: pointer;
      position: relative;
      // color:
      transition: color 400ms ease-in-out;

      &:not(:last-child) {
        margin-right: 32px;
      }

      &::before {
        content: "";
        display: block;
        position: absolute;
        height: 5px;
        width: 0;
        left: 0;
        right: 0;
        bottom: -10px;
        background: lime;
        opacity: 0;
      }

      &:hover {
        &::before {
          opacity: 1;
          width: 100%;
          transition: width 0.5s;
        }
      }
    }
  }

  &__navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 32px 0;

    &__links {
      a {
        cursor: pointer;
        position: relative;
        // color:
        transition: color 400ms ease-in-out;
  
        &:not(:last-child) {
          margin-right: 60px;
        }

        &::before {
          content: "";
          display: block;
          position: absolute;
          height: 5px;
          width: 0;
          left: 0;
          right: 0;
          bottom: -10px;
          background: $royal-blue;
          opacity: 0;
        }
  
        &:hover {
          color: $royal-blue;
          &::before {
            opacity: 1;
            width: 100%;
            transition: width 0.5s;
          }
        }
      }
    }
  }
}
