@import "fonts";
@import "colors";

.projects {
    .section {
        .container {
            .hero-section {
                color: $grey800;
                padding: 150px 0;
                display: flex;
                flex-direction: column;
                justify-content: center;

                .heroText {
                    margin: 24px 0;

                    &__experiences {
                        background-image: $fire;
                        background-size: 100%;
                        background-repeat: repeat;
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent; 
                        -moz-background-clip: text;
                        -moz-text-fill-color: transparent;
                    }

                    &__interface {
                        background-image: $deepblue;
                        background-size: 100%;
                        background-repeat: repeat;
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent; 
                        -moz-background-clip: text;
                        -moz-text-fill-color: transparent;
                    }
                }
            }
            .column {
                &-2 {
                    display: flex;
                    flex-direction: row;
                    width: 100%;
                    gap: 88px;
                    padding: 100px 0;
                    height: 588px;

                    .img-container {
                        overflow: hidden;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }

                    .img-container img {
                        transition: transform 0.3s ease;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }

                    .img-container img:hover {
                        transform: scale(1.1);
                    }
    
                    &__left {
                        width: 50%;

                        &--sunny {
                            border-radius: 32px;
                            box-shadow: 0px 8px 80px rgba(0, 0, 0, 0.2);
                            background: linear-gradient(113.92deg, #FEDA56 -15.83%, #FDAD40 55.5%);
                            width: 50%;
                            height: auto;
                        }

                        &--blue {
                            border-radius: 32px;
                            box-shadow: 0px 8px 80px rgba(0, 0, 0, 0.2);
                            background: linear-gradient(224.86deg, #D5DAF0 4.87%, #296EDF 98.81%);
                            width: 50%;
                            height: auto;
                        }

                        &--greenish {
                            border-radius: 32px;
                            box-shadow: 0px 8px 80px rgba(0, 0, 0, 0.2);
                            background: $greenish;
                            width: 50%;
                            height: auto;
                        }
                    }
        
                    &__right {
                        width: 50%;

                        &--text {
                            width: 50%;
                            padding: 32px 0;
                            display: flex;
                            flex-direction: column;
                            gap: 24px;
                            justify-content: center;

                            .title {
                                color: $grey900;
                            }
                        }
                    }

                    .pill-container {
                        display: flex;
                        flex-direction: row;
                        gap: 8px;
                        

                        .pill {
                            color: $grey700;
                            background-color: $grey200;
                            padding: 8px 24px;
                            border-radius: 60px;
                        }
                    }

                    .button-container {
                        display: flex;
                        color: $blue500;

                        .button {
                            margin: 0 8px 0 0;
                            transition: 300ms;
                            border-bottom: 1px solid $blue500;
                        }

                        .button:hover {
                            border-color: transparent;
                        }
                    }

                    .align-right {
                        width: 50%;
                        text-align: right;
                        align-items: flex-end;
                    }
                
                }
            }

        }

    }
}

