//Colors
$c-primary: #130930;
$c-primary-variant1: #bbbcce;

// Color - monocromatic
$royal-blue: #5B2CE8;
$c-white: #FFFFFF;
$c-sunset-orange: #FF4D59;



//Font-size
$font-sm: 0.8rem;
$font-med: 1.25rem;